{% extends 'origin.html' %}
{% load static %}

{% block styles_extra %}
<link rel="stylesheet" href="{% static 'estilos.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<body>
    <h2>Iniciar sesión</h2>
	<form method="POST">
		{%csrf_token%}
		<label for="username">Usuario</label>
		<input type="text" name="username" required>

		<label for="password">Contraseña</label>
		<input type="password" name="password" required>
		<button type="submit">iniciar sesion</button>
	</form>
{% endblock %}

