<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>
    <h2>Iniciar sesión</h2>
    {% if form.errors %}
    <p>por favor revise su usuario y contraseña</p>
    {% else %}
    <p>por favor use el siguiente login</p>
    {% endif %}
    <div class="login-form">
	<form action="{% url 'login' %}" method="post">
		{{ form.as_p }}	
		{% csrf_token %}
		<input type="hidden"name="next" value="{{next}}" />
		<p>
			<input type="submit" value="Log-in">
		</p>
	</form>
    </div>
</body>
</html>

