@font-face{
    font-family: 'custom-font';
    src: url("Forum-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'custom-font', sans-serif;
    flex-direction: column; /* Asegura que los elementos estén apilados */
    min-height: 100vh; /* Altura mínima para ocupar toda la ventana */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo opcional */
}


.grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; 
}

.img_game {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 4%;
    transition: transform 0.3s ease;
}

.img_game:hover{
	transform: scale(1.1);
}

.container-games {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}


.image-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.back-play {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.astro {
    position: absolute;  /* Esto la coloca sobre la imagen de fondo */
    top: 75%; 
    left: 50%;  /* Centra la imagen superpuesta horizontalmente */
    transform: translate(-50%, -50%);  /* Ajuste preciso del centrado */
    width: 25%;  /* Ajusta el tamaño de la imagen superpuesta según lo necesites */
    height: auto;
}

.astro-hoja {
    position: absolute;  /* Esto la coloca sobre la imagen de fondo */
    top: 77%; 
    left: 80%;  /* Centra la imagen superpuesta horizontalmente */
    transform: translate(-50%, -50%);  /* Ajuste preciso del centrado */
    width: 20%;  /* Ajusta el tamaño de la imagen superpuesta según lo necesites */
    height: auto;
}

.kratos {
    position: absolute;
    top: 70%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    width: 12%; 
    height: auto;
}
.container-info {
	position: relative;
	width: 100%;
    	height: 80vh; /* Ocupa toda la ventana */
   	overflow: hidden; /* Oculta cualquier contenido desbordado */
}

.gra{
	width: 100%;
	height: 755px;
	background-image: linear-gradient(to top, black, transparent);
	position: absolute;
	opacity: 0.7;
	left:0;
	z-index: 1;
}
.spider{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 10%;
	display: block;
	position: absolute;
	top:0;
	left:0;
}
.card{
	background-color: #1e1f23;
	width: 30rem;
	left: 65%;
	top: 14%;
	z-index: 1;
}

.card-title{
	display: flex;
	justify-content: center;
}
.text-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.card-text {
    margin: 0;
    font-family: Arial, sans-serif;
}

.left-text, .right-text {
    display: inline-block;
    margin: 0 18px; /* Espacio entre los textos */
	margin: 18px;
	font-size: 15px;
}

.right-text {
    text-align: right;
}
.btn-spider {
    background-color: #d63d00;
    color: white;
    padding: 5px 30px;
    margin-bottom: 18px;
    text-align: center;
    display: inline-block;
    width: 300px;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    z-index: 2;
}

.btn-spider:hover{
	background-color: #8f2b03; 
}

.item-transparent{
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
	width: 25px;
}
.text-row2 {
    display: flex;
	justify-content: center;
}
.right-item {
    margin: 0 5px; /* Espacio entre los textos */
}
