{% extends 'origin.html' %}
{% load static %}

{% block styles_extra %}
<link rel="stylesheet" href="{% static 'estilos.css' %}">
{% endblock %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="image-container">

<img class="back-play" src="{% static 'img_juegos/backgrounds/fondo.jpg' %}" alt="Fondo de juegos">
<img class="astro" src="{% static 'img_juegos/backgrounds/astro.webp' %}" alt="Fondo de juegos">
<img class="astro-hoja" src="{% static 'img_juegos/backgrounds/astro-hoja.png' %}" alt="Fondo de juegos">
<img class="kratos" src="{% static 'img_juegos/backgrounds/astro2.webp' %}" alt="Fondo de juegos">



</div>
<div class="container-games">
<h2 class="title-play">Nuestra seleccion para ti</h2>
<div class="games">
	<ul class="grid">
    {% for producto in products %}
        <li>
            {% if producto.imagen %}
                <a href="{% url 'detail_product' producto.id %}">
                    <img class="img_game" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="150">
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</div>
</div>
<div class="container-info">
	<div class="gra"></div>
	<img class="spider" src="{% static 'img_juegos/backgrounds/siper.webp' %}" alt="Fondo de juegos">
	<div class="rect-fig"></div>
</div>
{% endblock %}

