
{%extends 'origin.html'%}
{%block title%}Productos{%endblock%}
    <h1>Lista de Productos</h1>
    {%block content%}
    <ul>
        {% for producto in products %}
            <li>
                <h2>{{ producto.nombre }}</h2>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <p>Stock: {{ producto.stock }}</p>
                {% if producto.imagen %}
			<a href="{% url 'detail_product' producto.id %}">
				<img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="150">
			</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {%endblock%}
