{% extends 'origin.html' %}
{% load static %}

{% block styles_extra %}
<link rel="stylesheet" href="{% static 'estilos.css' %}">
{% endblock %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="image-container">

<img class="back-play" src="{% static 'img_juegos/backgrounds/fondo.jpg' %}" alt="Fondo de juegos">
<img class="astro" src="{% static 'img_juegos/backgrounds/astro.webp' %}" alt="Fondo de juegos">
<img class="astro-hoja" src="{% static 'img_juegos/backgrounds/astro-hoja.png' %}" alt="Fondo de juegos">
<img class="kratos" src="{% static 'img_juegos/backgrounds/astro2.webp' %}" alt="Fondo de juegos">



</div>
<div class="container-games">
<h2 class="title-play">Nuestra seleccion para ti</h2>
<div class="games">
	<ul class="grid">
    {% for producto in products %}
        <li>
            {% if producto.imagen %}
                <a href="{% url 'detail_product' producto.id %}">
                    <img class="img_game" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="150">
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</div>
</div>
<div class="container-info">
	<div class="gra"></div>
	<img class="spider" src="{% static 'img_juegos/backgrounds/siper.webp' %}" alt="Fondo de juegos">
	<div class="card">
		<img src="{% static 'img_juegos/backgrounds/spider.avif' %}" class="card-img-top" alt="...">
		<div class="card-body text-white">
			<h5 class="card-title">Edición Definitiva</h5>
			<div class="text-row2">
				<div class="item-transparent left-item">PS4</div>
				<div class="item-transparent right-item">PS5</div>
			</div>
				<div class="text-row">
					<p class="card-text">
					<span class="left-text">&#8226; Marvel's Spider-Man</span>
					<span class="right-text">&#8226; Marvel's Spider-Man Deluxe</span>
					</p>
				</div>
		</div>
		<div class="text-center">
			<a href="#" class="btn btn-spider"><h5>Agregar al carrito</h5></a>
		</div>
	</div>
</div>
</div>
	{% endblock %}

