{% extends 'origin.html' %}
{% load static %}

{% block styles_extra %}
<link rel="stylesheet" href="{% static 'shop.css' %}">
{% endblock %}
{% block content %} 
<div class="container-games">
<h2 class="title-play">Nuestra seleccion</h2>
<div class="games">
        <ul class="grid">
    {% for product in products %}
        <li>
                <a href="{% url 'product' product.id %}" class="block aspect-square bg-gray-100 rounded-xl">
                        <img class="img_game" src="{{ product.image }}" alt="{{ producto.name }}" width="150">
                </a>
		<p class="text-game">{{product.name}}</p>
		<p class="text-game">${{product.price}} USD</p>
        </li>
    {% endfor %}
</ul>
</div>
</div>

{% endblock %}
